.tableWrap {
  max-height: 368px;
  overflow: auto;
}

.tableContainer {
  border-collapse: collapse;
  width: 100%;
}

.table_headerCell {
  background-color: #4D4D4D;
  padding: 20px 20px;
  min-width: 60px;
}

.table_headerCell:first-child {
  border-top-left-radius: 25px;
}

.table_headerCell:last-child {
  border-top-right-radius: 25px;
}

.table_headerCell__item {
  background-color: #4D4D4D;
  font-weight: 700;
  padding: 0;
  border: 0;
  outline: 0;
}

.table_headerCell__item[data-sortable=true] {
  cursor: pointer;
}

.table_stickyHeader {
  position: sticky;
  top: 0;
}

.table_bodyContainer {
  background-color: #1A1A1A;
}

.table_bodyRow[data-empty=true] {
  text-align: center;
}

.table_bodyRow:last-child .table_bodyCell {
  padding: 15px 0 15px 20px;
}

.table_bodyCell {
  padding: 15px 0 0 20px;
  min-width: 60px;
}

.table_bodyRow:last-child .table_bodyCell:first-child[data-rounded=true] {
  border-bottom-left-radius: 25px;
}

.table_bodyRow:last-child .table_bodyCell:last-child[data-rounded=true] {
  border-bottom-right-radius: 25px;
}

